# Example -config file for recon-neonatal-cortex tool.
#
# The following settings correspond to the default configuration used when no
# configuration file is found in the -work-dir, and no custom configuration
# is specified with the -config option.
# A file named "recon-neonatal-cortex.cfg" in the working directory is
# automatically used even without -config option.
#
# See Python documentation of ConfigParser (Python 2) or configparser (Python 3)
# module, respectively, for details on the format of this configuration file and
# the interpolation of values: https://docs.python.org/3/library/configparser.html

# Section header
#
# A custom section name can be specified with the -section option.
# The default is "recon-neonatal-cortex". Note that spaces between brackets and
# section name are considered by Python's ConfigParser part of the section name!
[recon-neonatal-cortex]

# Configuration entries used for value interpolation only
#
# The recon-neonatal-script sets the values of the following
# options based on the -work-dir and -sessions arguments:
# - work_dir, WorkDir, workdir
# - subject_id, SubjectID, subjectid, subid
# - session_id, SessionID, sessionid, sesid
base_dir = %(work_dir)s/%(subject_id)s-%(session_id)s
orig_dir = %(base_dir)s/input
mesh_dir = %(base_dir)s/meshes

# Directory for intermediate files
#
# Intermediate files are deleted when no longer needed or
# when an error occurs, unless the -debug option is given
temp_dir = %(base_dir)s/temp

# Configuration entries of recon-neonatal-cortex input files
#
# The T1-weighted image is optional. When the file is missing
# for a particular subject session, it is simply not used.
input_t1w_image  = %(orig_dir)s/t1w-image.nii.gz
input_t2w_image  = %(orig_dir)s/t2w-image.nii.gz
input_brain_mask = %(orig_dir)s/brain-mask.nii.gz

# Besides a T2-weighted intensity image and brain extraction mask,
# either a MIRTK Draw-EM segmentation (recommended) or a custom
# neonatal brain segmentation is required
input_labels_image = %(orig_dir)s/brain-labels.nii.gz

# A separate optional tissues segmentation may be used to define
# WM, cGM, dGM, and lateral ventricles. This can be useful when a
# manually corrected tissue segmentation is available where only
# WM (and possibly cGM) has been edited, but no other structures.
# When no input_tissues_image is set or found, the input_labels_image
# is used instead. The default white_matter_labels, gray_matter_labels,
# deep_gray_matter_labels, and lateral_ventricles_labels below are with
# respect to the structural all_labels Draw-EM segmentation.
input_tissues_image = %(orig_dir)s/tissue-labels.nii.gz

# The following label sets are used to divide the brain into
# disjoint regions of right and left hemisphere, cortex,
# and brainstem + cerebellum. The following labels correspond
# to the structural all_labels Draw-EM segmentation image.
white_matter_labels       = 51..82              # tissues: 3
gray_matter_labels        = 5..16,20..39        # tissues: 2
deep_gray_matter_labels   = 1..4,40..47,85..87  # tissues: 5,7,9
lateral_ventricles_labels = 49,50
corpus_callosum_labels    = 48
inter_hemisphere_labels   = 40..47,85..87
brainstem_labels          = 19
cerebellum_labels         = 17,18

# Parameters for morphological closing done by subdivide-brain-image
subcortex_closing  = 5  # see help of -subcortical-closing option
brainstem_closing  = 5  # see help of -brainstem-closing option
cerebellum_closing = 5  # see help of -cerebellum-closing option

# The following two files are the output of subdivide-brain-image,
# which is run by recon-neonatal-cortex when these files are missing.
# In particular the regions_mask output of subdivide-brain-image
# is required which defines moreover the standard RAS image space.
regions_mask       = %(mask_dir)s/regions.nii.gz
cortical_hull_dmap = %(temp_dir)s/cortical-hull-dmap.nii.gz

# The cortical surface reconstruction relies on a resampling of all input
# and derived binary mask images in the standard RAS space defined by the
# subdivide-brain-image output regions. The following (temporary) image
# files are derived from the input images given above label sets if they
# don't exist. Otherwise, the existing image files which may be generated
# beforehand are used instead of the input_* images. All binary tissue masks
# are created using the respective labels from the input_tissues_image if
# set and present, or the input_labels_image otherwise.
# The corpus_callosum_mask is always created from the input_labels_image.
t1w_image             = %(temp_dir)s/t1w-image.nii.gz
t2w_image             = %(temp_dir)s/t2w-image.nii.gz
brain_mask            = %(temp_dir)s/brain-mask.nii.gz
white_matter_mask     = %(temp_dir)s/white-matter-mask.nii.gz
gray_matter_mask      = %(temp_dir)s/gray-matter-mask.nii.gz
deep_gray_matter_mask = %(temp_dir)s/deep-gray-matter-mask.nii.gz
corpus_callosum_mask  = %(temp_dir)s/corpus-callosum-mask.nii.gz
ventricles_mask       = %(temp_dir)s/ventricles-mask.nii.gz

# A distance transform of the lateral ventricles mask is
# computed when no ventricles_dmap is provided. Otherwise,
# the ventricles_mask is neither required nor used.
ventricles_dmap = %(temp_dir)s/ventricles-dmap.nii.gz

# Configuration entries of recon-neonatal-cortex output surface files
brain_mesh           = %(mesh_dir)s/brain.vtp
bs_cb_mesh           = %(mesh_dir)s/brainstem+cerebellum.vtp
internal_mesh        = %(mesh_dir)s/internal.vtp
cerebrum_mesh        = %(temp_dir)s/cerebrum.vtp
right_cerebrum_mesh  = %(temp_dir)s/cerebrum-rh.vtp
left_cerebrum_mesh   = %(temp_dir)s/cerebrum-lh.vtp
white_mesh           = %(mesh_dir)s/white.vtp
right_white_mesh     = %(mesh_dir)s/white-rh.vtp
left_white_mesh      = %(mesh_dir)s/white-lh.vtp
pial_mesh            = %(mesh_dir)s/pial.vtp
right_pial_mesh      = %(mesh_dir)s/pial-rh.vtp
left_pial_mesh       = %(mesh_dir)s/pial-lh.vtp
